<% provide(:title, @user.name ) %>
<div class="row">
  <aside class="col-md-4">
    <secsion class="user-info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </secsion>
  </aside>
  <div class="col-md-8">
    <% if @user.microposts.any? %>
      <h3>投稿(<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= paginate @microposts %>
    <% end %>
  </div>
</div>
